import(magrittr)
# import(lubridate)
import(RMySQL)
import(data.table)
import(xml2)
importFrom(DBI, dbGetQuery)
importFrom(stringr, str_detect)
importFrom(XML, readHTMLTable)
importFrom(lubridate, ymd_hms, ymd_hm, ymd, interval, as.period)
importFrom(zoo, na.locf)

exportPattern("^[[:alpha:]]+")
