import(magrittr)
import(parallel)
import(RMySQL)
import(data.table)
import(xml2)
importFrom(DBI, dbGetQuery)
importFrom(stringr, str_detect)
importFrom(XML, readHTMLTable)
# import(XML)
importFrom(lubridate, ymd_hms, ymd_hm, ymd, interval, as.period, int_start, int_end)
importFrom(zoo, na.locf)

exportPattern("^[[:alpha:]]+")

